/* 
    Created on : 30 nov 2022, 19:20:27
    Author     : Txell Llanas
*/

/** ESTILS GENÈRICS **/
.root {-fx-focus-color: #666; -fx-faint-focus-color: transparent;}  /*glow inputs seleccionats*/

/*validacions*/
.text-field.required, .date-picker.required {-fx-border-color:#ff0000; -fx-border-radius: 2px; }
.text-field.filled, .date-picker.filled {-fx-border-color:#ccc; -fx-border-radius: 2px;}
.text-field.filled:focused, .date-picker > text-field.filled:focused {-fx-border-color:#666}
.label.required {-fx-text-fill:#ff0000!important;}
.label.filled   {-fx-text-fill:#000!important;}

.non-editable {-fx-font-style: italic; -fx-font-weight: bold; -fx-text-fill: #000!important;}

/*.changed, .table-cell:canviat {-fx-text-fill: #4894e7;}
.netejar, .table-cell:resetejat {-fx-text-fill: #000000;}
*/

/** BOTONS **/
.btn_primary, .btn_cancel {-fx-text-fill:#fff; -fx-border-width:0; -fx-padding:5 10px;}
.btn_primary {-fx-background-color: #007bff;}
.btn_primary:hover {-fx-background-color: #0062cc;}
.btn_cancel {-fx-background-color: #dc3545;}
.btn_cancel:hover {-fx-background-color: #b71928;}
.btn_back, .btn_back:hover  {-fx-background-radius: 50%;
                             -fx-background-color: #aaa; 
                             -fx-background-repeat: no-repeat;
                             -fx-background-position: center;
                             -fx-background-size: 15px;
                             -fx-padding: 10px;
                             -fx-pref-width: 40px; 
                             -fx-pref-height: 40px;
                             -fx-border-width:0;}
.btn_back {-fx-background-image:url("../imatges/icon-arrow-dark.png");}
.btn_back:hover {-fx-background-image:url("../imatges/icon-arrow-light.png");}

Button, Button:hover, .btn_back:hover {-fx-padding:2 10px; -fx-cursor:hand;}
Button {-fx-background-color:#eee; -fx-border-color:#aaa; -fx-border-width:1px; -fx-border-radius: 2px; -fx-text-fill:#000; -fx-font-size:16px;}
Button:hover, .btn_back:hover {-fx-background-color: #666; -fx-border-color:#aaa; -fx-text-fill:#fff; -fx-border-width:0;}

#container {-fx-spacing:10px}
#btnDelete, #btnEdit, #btnDetail {-fx-border-width:0!important;
                      -fx-background-repeat: no-repeat;
                      -fx-background-position: center;
                      -fx-pref-width: 25px!important; 
                      -fx-pref-height: 25px!important;}
#btnDelete {-fx-background-size: 15px; -fx-background-image:url("../imatges/icon-delete.png"); -fx-background-color: #f95464;}
#btnEdit {-fx-background-size: 20px; -fx-background-image:url("../imatges/icon-save.png"); -fx-background-color: #4894e7;}
#btnDetail {-fx-background-size: 21px; -fx-background-image:url("../imatges/icon-details.png"); -fx-background-color: #288a48;}
#btnDelete:hover, #btnDelete:pressed {-fx-background-color: #b80012;}
#btnEdit:hover, #btnEdit:pressed {-fx-background-color: #004ea3;}

/** NAVEGACIÓ **/
#nav Button {-fx-font-size:20px; -fx-padding:10 20px; -fx-font-weight: bold; -fx-background-color:#aaa; -fx-border-width:0;}
#nav Button:hover, .active {-fx-background-color: #666!important; -fx-text-fill:#fff!important; -fx-border-width:0;}

/** TEXTES **/
#title, #idCustomer, #subtotal-txt, #moneda-txt, #total {-fx-font-size: 30px; -fx-font-weight: bold;}

/* TAULES */
TableView {-fx-fixed-cell-size:40px;}
#ordersTableView .table-column, #customersTableView .table-column {-fx-alignment: center; }

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected {-fx-background-color: #d3d3d3!important;}
.table-cell {-fx-text-fill:#000!important;}
.table-view:row-selection .table-cell {-fx-border-color: transparent white transparent transparent;}
/*blau clar: #b8d6f5*/


